main {
    width: 800px;
    height: 800px;
    margin: 15rem auto;
}

#row-one, #row-two, #row-three {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: 40px auto;
}

button {
    background: #fff;
    width: 200px;
    height: 100px;
    border: none
}