.hidden {
    display: none;
}

.result {
    scale: .5;
    transition: 1s ease;
}

#game {
    transition: 1s ease;
}

.arcade {
    font-family: "Rubik Doodle Shadow", system-ui;
    font-weight: 400;
    font-style: normal;
}